NDT reports erroneous results with 10G interface

Original [issue 83](https://code.google.com/p/ndt/issues/detail?id=83) created by aaronmbr on 2013-06-17T17:51:07.000Z:

This may already be fixed in trunk. Basically boils own to an issue in test_s2c_clt.c line 32 where a uint32_t should be uint64_t. See below for full details:

To: Nat Stoddard &lt;ntstoddard@lbl.gov&gt;
CC: ndt-users@internet2.edu
Subject: Re: Using NDT with 10 gigabit interfaces

Nat;

This is good.  As I thought, the CPU isn't the bottleneck.

The connection is sender limited, meaning its' not network or receiver 
limited.  The send/receive buffers don't limit the throughput.

The pkt-pair timing say OC-48 to 10 GE so that's good.

So lets look at the raw numbers.
    CurMSS = 1448 (normal Ethernet frame)
    Data Pkts Out = 7873701
    Data Bytes Out = 2,147,483,647
    Timesec = 10.00 sec

This is suspicious.
Bytes sent should be: 7,873,701 x 1448 = 11,401,119,048
Speed calculates to 9.1 Gbps  So this is what the server acheived, but 
not what is logged by the client.

But the server report 2.2 GB which converts to 1.7 Gbps. which is what 
the spd: variable says.

I wonder if this is just a variable overflow error.  The DataBytesOut 
variable is a 32 bit counter.  There is an HCDataOctetsOut variable (a 
64 bit counter)

So, this is a problem that may impact some of the analysis messages. 
line 1082 in web100srv.c sets the variable spd based on the DataBytesOut 
value.  Either the code should grab the HCDataOctetsOut value or a test 
should be made and if s2cspd is greater that something like 5 Gbps, use 
the HC value otherwise use the existing value.

I'm looking at the code and it show the server is able to right log 
messages that might help here.  Restart the server with 1 or 2 debug 
flags (-d or -dd) and post the output here.

Got it !!!!!!  While the DataByteOut vs HCDataOctetOut issue noted above 
is a potential bug, it is not causing this bug.

The file test_s2c_clt.c is the culprit.  The data read subroutine 
declares the byte counter as an uint32_t.  This is too small for the 
amount of data we are getting at 10 Gbps, and it is overflowing. 
Changing that to a uint64_t variable should fix this problem.  The 
server uses double, so it doesn't overflow.

So change line 32 of test_s2c_clt.c  s/uint32_t/uint64_t
and recompile.  See if that fixes this bug.

Same with the Java client, line 1253 of the Tcpbw100.java file declares 
bytes as an int, this should be a double to prevent counter overflows at 
10 Gbps.

Rich

On 05/16/2013 01:30 PM, Nat Stoddard wrote:
&gt; Hi Rich,
&gt; Thank you for taking notice of this.
&gt; 1.  I notice this behavior with both the web and the command line
&gt; clients.  I only have the command line client to refer to when I am
&gt; testing between my two NDT servers.  I get numbers very close to the
&gt; same in both directions:
&gt; server1 to server2 outbound 8517.57 Mb/s, inbound 2164.96 Mb/s
&gt; server2 to server1 outbound 9101.33 Mb/s, inbound 2245.74 Mb/s
&gt;
&gt; 2. Top reports the CPU load on the server as high as 49%.  The client
&gt; goes up to 45%.
&gt;
&gt; 3.  I have pasted the web100clt -ll output below:
&gt;
&gt; $ web100clt -n lblnet-test.lbl.gov -ll
&gt; Testing network path for configuration and performance problems  --
&gt; Using IPv4 address
&gt; Checking for Middleboxes . . . . . . . . . . . . . . . . . .  Done
&gt; checking for firewalls . . . . . . . . . . . . . . . . . . .  Done
&gt; running 10s outbound test (client to server) . . . . .  9101.33 Mb/s
&gt; running 10s inbound test (server to client) . . . . . . 2245.74 Mb/s
&gt; The slowest link in the end-to-end path is a 2.4 Gbps OC-48 subnet
&gt; Information [S2C]: Packet queuing detected: 75.37% (remote buffers)
&gt; Server 'lblnet-test.lbl.gov' is not behind a firewall. [Connection to
&gt; the ephemeral port was successful]
&gt; Client is not behind a firewall. [Connection to the ephemeral port was
&gt; successful]
&gt;
&gt;      ------  Web100 Detailed Analysis  ------
&gt;
&gt; Web100 reports the Round trip time = 10.54 msec;the Packet size = 1448
&gt; Bytes; and
&gt; No packet loss was observed.
&gt; This connection is receiver limited 1.67% of the time.
&gt; This connection is sender limited 98.30% of the time.
&gt;
&gt;      Web100 reports TCP negotiated the optional Performance Settings to:
&gt; RFC 2018 Selective Acknowledgment: ON
&gt; RFC 896 Nagle Algorithm: ON
&gt; RFC 3168 Explicit Congestion Notification: OFF
&gt; RFC 1323 Time Stamping: ON
&gt; RFC 1323 Window Scaling: ON; Scaling Factors - Server=10, Client=10
&gt; The theoretical network limit is 104855.13 Mbps
&gt; The NDT server has a 16384 KByte buffer which limits the throughput to
&gt; 12148.82 Mbps
&gt; Your PC/Workstation has a 12269 KByte buffer which limits the throughput
&gt; to 9097.53 Mbps
&gt; The network based flow control limits the throughput to 13645.63 Mbps
&gt;
&gt; Client Data reports link is '  8', Client Acks report link is '  9'
&gt; Server Data reports link is '  9', Server Acks report link is '  9'
&gt; Packet size is preserved End-to-End
&gt; Server IP addresses are preserved End-to-End
&gt; Client IP addresses are preserved End-to-End
&gt; CurMSS: 1448
&gt; X_Rcvbuf: 87380
&gt; X_Sndbuf: 16777216
&gt; AckPktsIn: 267378
&gt; AckPktsOut: 0
&gt; BytesRetrans: 0
&gt; CongAvoid: 0
&gt; CongestionOverCount: 0
&gt; CongestionSignals: 0
&gt; CountRTT: 267379
&gt; CurCwnd: 18844272
&gt; CurRTO: 210
&gt; CurRwinRcvd: 12521472
&gt; CurRwinSent: 6144
&gt; CurSsthresh: 2147483647
&gt; DSACKDups: 0
&gt; DataBytesIn: 0
&gt; DataBytesOut: 2147483647
&gt; DataPktsIn: 0
&gt; DataPktsOut: 7873701
&gt; DupAcksIn: 0
&gt; ECNEnabled: 0
&gt; FastRetran: 0
&gt; MaxCwnd: 18844272
&gt; MaxMSS: 1448
&gt; MaxRTO: 212
&gt; MaxRTT: 12
&gt; MaxRwinRcvd: 12563456
&gt; MaxRwinSent: 6144
&gt; MaxSsthresh: 0
&gt; MinMSS: 1448
&gt; MinRTO: 201
&gt; MinRTT: 0
&gt; MinRwinRcvd: 6144
&gt; MinRwinSent: 5792
&gt; NagleEnabled: 1
&gt; OtherReductions: 0
&gt; PktsIn: 267378
&gt; PktsOut: 7873701
&gt; PktsRetrans: 0
&gt; RcvWinScale: 10
&gt; SACKEnabled: 3
&gt; SACKsRcvd: 0
&gt; SendStall: 0
&gt; SlowStart: 13012
&gt; SampleRTT: 10
&gt; SmoothedRTT: 10
&gt; SndWinScale: 10
&gt; SndLimTimeRwin: 167989
&gt; SndLimTimeCwnd: 2531
&gt; SndLimTimeSender: 9878037
&gt; SndLimTransRwin: 4723
&gt; SndLimTransCwnd: 42
&gt; SndLimTransSender: 4766
&gt; SndLimBytesRwin: 352300576
&gt; SndLimBytesCwnd: 1710336
&gt; SndLimBytesSender: 2147483647
&gt; SubsequentTimeouts: 0
&gt; SumRTT: 2817061
&gt; Timeouts: 0
&gt; TimestampsEnabled: 1
&gt; WinScaleRcvd: 10
&gt; WinScaleSent: 10
&gt; DupAcksOut: 0
&gt; StartTimeUsec: 6541
&gt; Duration: 10050267
&gt; c2sData: 8
&gt; c2sAck: 9
&gt; s2cData: 9
&gt; s2cAck: 9
&gt; half_duplex: 0
&gt; link: 100
&gt; congestion: 0
&gt; bad_cable: 0
&gt; mismatch: 0
&gt; spd: 1709.69
&gt; bw: 104855.13
&gt; loss: 0.000000000
&gt; avgrtt: 10.54
&gt; waitsec: 0.00
&gt; timesec: 10.00
&gt; order: 0.0000
&gt; rwintime: 0.0167
&gt; sendtime: 0.9830
&gt; cwndtime: 0.0003
&gt; rwin: 95.8516
&gt; swin: 128.0000
&gt; cwin: 143.7704
&gt; rttsec: 0.010536
&gt; Sndbuf: 16777216
&gt; aspd: 0.00000
&gt; CWND-Limited: 96729.00
&gt; minCWNDpeak: -1
&gt; maxCWNDpeak: -1
&gt; CWNDpeaks: -1
&gt;
